// style reset for browser

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 15rem;
  max-height: 30rem;
  object-fit: contain;
}
